body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}
header {
    background: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: #444;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background: #666;
    border-radius: 5px;
}
img.profile-pic {
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
}
h3 {
    font-size: 1.7rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 5px solid #777;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h4 {
    font-size: 1.4rem;
    color: #444;
    font-weight: bold;
    border-left: 3px solid #333;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
hr {
    width: 95%;
}
ul {
    list-style: inside circle;
    font-size: 1.2rem;
}
ul.sub-list {
    list-style: square;
    margin-top: 5px;
    font-size: 1rem;
}
ul.tr-list {
    list-style: inside circle;
    font-size: 1rem;
    padding-right: 2rem;
}
table {
    margin-left: 2rem;
}
th {
    color: #333;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
